body {
    background: rgb(28, 30, 34);
    font-family: 'Overpass', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 622px;
}
.conteudo-principal, .conteudo-agradecimento{
    background: rgb(37, 45, 55);
    width: 22%;
    height: 250px;
    padding: 40px 50px 60px;
    border-radius: 12px;
    font-size: 13px;
}

.conteudo-principal {
    text-align: left;
}
.titulo, h2 {
    color: white;
}

p {
    color: rgb(120, 134, 155);
    font-weight:600;
}

.estrela {
    background: rgb(54, 62, 73);
    padding: 15px;
    border-radius: 100px;
    width: 13px;
}

.avaliacao {
text-align: center;
}

.botao-avaliar {
    margin: 20px 10px 25px;
    background: rgb(54, 62, 73);
    border: none;
    padding: 12px 15px;
    border-radius: 100px;
    color: rgb(120, 134, 155);
    font-size: 11px;
}

span {
    background: rgb(54, 62, 73);
    padding: 5px;
}

.enviar {
    text-align: center;
    background: rgb(251, 116, 19);
    border: none;
    padding: 10px 109px;
    text-transform: uppercase;
    color: white;
    border-radius: 15px;
}

.conteudo-agradecimento {
    text-align: center;
    
}
