body {
    background: rgb(28, 30, 34);
    font-family: 'Overpass', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 622px;
}
.conteudo-principal {
    background: rgb(37, 45, 55);
    width: 20%;
    height: 250px;
    text-align: left;
    padding: 30px 30px;
    border-radius: 12px;
    font-size: 13px;
}

.titulo {
    color: white;
}

p {
    color: rgb(120, 134, 155);
    font-weight:600;
}

.estrela {
    background: rgb(54, 62, 73);
    padding: 10px;
    border-radius: 100px;
    width: 13px;
}